@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Special+Elite&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Manrope", sans-serif;
}
/* ESTILIZAÇÃO DO MENU DE NAVEGAÇÃO DOL SITE*/
.header{
    width: 100vw;
    height: 500px;
    background-image: url(../images/background-menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    text-shadow: blue 2px solid;

 
}

.header h1 {
    text-shadow: 2px 2px 5px #ff0000;
    font-size: 2rem;
}

.header p{
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px #ffffff;
    color: #fcfcfc;
    font-weight: 800;
    font-style: none;
    gap: 32px;
}

.menu_navegacao ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.header a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: 0.7s;
}

.header a:hover{
    background-color: red;
}

.header button a{
    color: #ffffff;
    text-decoration: none;
    font-style: none;
}


.header button {
    background-color: grey;
    padding: 10px 20px;
}



.header img{
    height: 150px;
    width: 300px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

/* FIM DA ESTILIZAÇÃO DO MENU DE NAVEGAÇÃO DOL SITE*/