body{
    background-color: #8C232C;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-size: 38px;
    color: #F2CB05
}

h2, h3, h4, h5, h6{
    color: #D9A404;
    margin: 0;
}

p{
    font-size: 18px;
    color: #bbbab8;
}

a{
    text-decoration: none;
    color: #D9A404;
    font-weight: 900;
}

/*estilização simples, para testar alguns comandos que vi de pessoas externas fora do curso, teste de cores, tamanho da font, estilo da font, remoção do estilo de uma tag ancora, remoção da margem externa do conteudo (espaço externo pelo que entendo até o momento). peso da font.*/